/*
    선택자{ 속성명:값 ; 속성명:값 }
        선택자
        1. *
        2. 마크업명
        3. .class       복수
        4. #id          단일
        - 우선순위 : !important -> style속성 -> id -> class -> 마크업 -> *
        자식 선택자 
            선택자 > 선택자
        자손 선택자 
            선택자 선택자
        복수 선택자 
            선택작,선택자
*/
/* 공통 css */
@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    /*기본 여백 제거 */
    padding: 0;  margin: 0;
    list-style-type: none; /* 글머리 */
    font-family: 'Ownglyph_meetme-Rg';
    box-sizing : border-box; /* 사이즈 기준 */
    font-size : 16px;
    color : black;
}
a{
    color : black;  text-decoration : none;
}
/* 공통 css end  */

/* 헤더 로고 이미지 */
#head_logo > img{
    width: 70px;
}
.top_menu{
    display: flex;
    justify-content: space-between;
}
#main_menu{
    display: flex;
}
#main_menu > li{
    margin: 0px 30px;
    font-size: 20px;
}
#login_menu{
    display: flex;
    align-items: center;
}
#login_menu > li{
    margin: 0 10px;
}

/* 헤더 프로필 사진  nth-child(형제인덱스 1부터시작 )  */
#login_menu > li:nth-child( 3 ) > img{
    width : 60px;  border-radius : 50%;
}
























