

/* 전체 폼 */
.signUpForm{
    width: 40%; 
    margin: 0 auto;
}
/* 상단 제목 */
.signUpForm > h3 , .signUpForm > p {
    text-align: center;
    margin-top: 10px;
}
/* 입력상자 */
.signUpForm input{
    width: 100%; height: 50px; padding: 10px;
    border: 1px solid #e8e8e8; border-radius: 10px;
}
/* 입력 제목 */
.signUpForm > .label{
    font-size: 18px; margin: 10px 0px;
}
/* 체크 박스 */
.signUpForm > .checkbox{
    color: coral; font-size: 14px;
    margin: 0px 0px 10px 10px; height: 20px;
}
/* 이메일 입력+요청 구역 */
.signUpForm > .emailbox{
    display: flex;
}
/* 인증 요청 + 인증 버튼 */
.signUpForm > .emailbox button , 
.signUpForm > .authbox button {
    width: 25%; height: 50px;
    background-color: #75c1cf; color: white;
    border : none; 
    border-radius: 10px;
    margin-left: 10px;
}
/* 인증 구역 */
.signUpForm > .authbox{
    padding: 10px;
    display: flex; align-items: center; 
}
/* 인증 타이머 */
.signUpForm > .authbox > .timebox{ font-size: 20px; width: 20%;}
/* 이미지 미리보기 구역 */
.signUpForm > .preimgbox{  text-align: center;}
/* 이미지 미리보기 */
.signUpForm > .preimgbox > #preimg{
    border: 1px solid #e8e8e8;
    border-radius: 50%; width: 200px; height: 200px; 
    object-fit: cover; /* 만약에 구역보다 사진 이미지 커졌을때 */
}
/* 회원가입 버튼 */
.signUpForm > .signupbtn{
    width: 100%; height: 50px;
    border: none; background-color: #75c1cf;    color: white;
    font-size: 25px; margin: 20px 0px;
}
/* 로그인 버튼 */
.signUpForm > .loginbtn{
    width: 100px; height: 50px;
    font-size: 18px; margin: 20px 0px;
}
a{ text-decoration: none; }
