<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Ezen Web site</title>

    <!-- 모든 페이지에서 사용되는 공통 css/js -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- 부트스트랩 cdn css/js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- 섬머노트 API CDN  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css"  />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js" ></script>


    <!-- CSS 파일 호출 -->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/member.css" rel="stylesheet">
    <link href="/css/board.css" rel="stylesheet">

</head>
<body>
    <!-- 컨테이너 구역 -->
    <div class="container-xxl">
        <!-- 헤더 네비 메뉴바  -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <!-- 로고 -->
                <a class="navbar-brand" id="head_logo" href="/"> 
                    <img src="/img/logo.png" /> 
                </a>
                <!-- 콜렙스 버튼 -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- 메인 메뉴 구역 -->
                <div class="collapse navbar-collapse top_menu" id="navbarSupportedContent">

                    <!-- 메인 메뉴 -->
                    <ul id="main_menu">
                        <li class="nav-item">   <a class="nav-link" href="/board">게시판</a>   </li>
                        <li class="nav-item">   <a class="nav-link" href="#">메뉴2</a>   </li>
                        <li class="nav-item">   <a class="nav-link" href="#">메뉴3</a>   </li>
                        <li class="nav-item">   <a class="nav-link" href="#">메뉴4</a>   </li>
                        <li class="nav-item">   <a class="nav-link" href="#">메뉴5</a>   </li>
                    </ul>

                    <!-- 로그인 관련 메뉴 -->
                    <ul id="login_menu" >  
                    
                    </ul>

                </div>
            </div>
        </nav>
    </div>
