{{>ezenweb/header}}
    <div class="container">
        <h3> 로그인 페이지 </h3>
        <div>
            아이디 : <input  type="text" id="id"/> <br/>
            비밀번호 : <input type="text" id="pw"/> <br/>
            <a href="/member/signup">회원가입</a>
            <button type="button" onclick="login()">로그인</button>
        </div>
    </div>
    <script src="/js/member.js"></script>
{{>ezenweb/footer}}