{{>ezenweb/header}}
    <h3> 회원가입 페이지 </h3>
    <form class="signUpForm">

        <div> 아이디 </div>
            <input onkeyup="idcheck()" type="text" id="id" name="id" />
        <div class="idcheckbox"></div>

        <div> 비밀번호 </div>
        <input onkeyup="pwcheck()"  type="text" id="pw" name="pw" />
        
        <div> 비밀번호 확인 </div>
        <input onkeyup="pwcheck()"  type="text" id="pwconfirm" name="pwconfirm"/>
        <div class="pwcheckbox"></div>

        <div> 이름 </div>
        <input onkeyup="namecheck()" type="text" id="name" name="name"/> 
        <div class="namecheckbox"></div>

        <div> 전화번호 </div>
        <input onkeyup="phonecheck()" type="text" id="phone" name="phone" />
        <div class="phonecheckbox"></div>

        <div> 이메일 </div>
        <div class="emailbox">
            <input onkeyup="emailcheck()" type="text" id="email" name="email" />
            <button type="button" 
                class="authreqbtn" 
                onclick="authreq( )" disabled > 인증요청 </button>
        </div>
        
        <div class="authbox"> </div>
        
        
        <div class="emailcheckbox"></div>

        <div> 프로필 사진 </div>
        <input onchange="onChangeImg( this )" type="file" id="img"
               name="img" accept="image/*" /> <br/>
        <div><img id="preimg" src="/img/default.jpg" /> </div>

        <button type="button" onclick="signup(  )">회원가입</button>
        <a href="/member/login">로그인</a>
        
    </form>
    <script src="/js/member.js"></script>   <!-- {resources/static} /js/member.js -->
{{>ezenweb/footer}}