{{>ezenweb/header}}
    <div class="container">
        <h3> 게시판 </h3>
        <a href="/board/write">글쓰기</a>
        <select class="listSize" onchange="onListSizeChange( this )">
            <option value="5"> 5 </option>
            <option value="10"> 10 </option>
            <option value="15"> 15 </option>
            <option value="20"> 20 </option>
        </select>

        <select class="bcno" onchange="onCategoryChange( this )">
            <option value="0"> 전체 </option>
            <option value="1"> 자유 </option>
            <option value="2"> 노하우 </option>
        </select>

        <table class="table table-striped table-hover align-middle">
          <thead>
            <tr>
              <th scope="col" style="width:5%">번호</th>
              <th scope="col" style="width:60%">제목</th>
              <th scope="col" style="width:15%">작성자</th>
              <th scope="col" style="width:15%">작성일</th>
              <th scope="col" style="width:5%">조회수</th>
            </tr>
          </thead>
          <tbody id="boardBody">

          </tbody>
        </table>

        <nav >
          <ul class="pagination justify-content-center">

          </ul>
        </nav>


    </div>
<script src="/js/board/board.js"></script>
{{>ezenweb/footer}}