{{>ezenweb/header}}
    <div class="container">
        <h3> 글쓰기 페이지 </h3>
        <form class="boardUpdateForm">
            카테고리 <select class="bcno" name="bcno">
                        <option value="1"> 자유 </option>
                        <option value="2"> 노하우 </option>
                    </select> <br/>
            제목      <input  class="btitle" name="btitle" type="text"/> <br/>
            내용      <textarea class="bcontent" id="summernote" name="bcontent"></textarea> <br/>
            기존 첨부파일 : <div class="bfile"> </div>
            수정할 첨부파일    <input name="uploadfile" type="file"> <br/>
            <button onclick="onUpdate()" type="button">수정</button>
        </form>
    </div>
    <script src="/js/board/update.js"></script>

{{>ezenweb/footer}}