{{>ezenweb/header}}

    <div class="container">

        <div class="boardViewBox">

            <div> <span class="btitle"></span> </div>

            <div>
                <div> <span class="viewTitle">카테고리</span> <span class="bcno"></span> </div>
                <div> <span class="viewTitle">작성자</span> <span class="mid"></span> </div>
                <div> <span class="viewTitle">작성일</span> <span class="bdate"></span> </div>
                <div> <span class="viewTitle">조회수</span> <span class="bview"></span> </div>
            </div>

            <div class="bcontent"></div>

            <div>
                <span class="viewTitle">첨부파일</span> <span class="bfile"></span>
            </div>

            <div class="btnBox">
                <button class="boardBtn" onclick="location.href='/board'">목록보기</button>
            </div>

            <div class="replyBox">
                <div>
                    <textarea class="brcontent0"></textarea>
                    <button onclick="onRelyWrite( 0 )" type="button"> 댓글작성 </button>
                </div>
                <div class="replyListBox"> </div>
            </div>

        </div>

    </div>

    <script src="/js/board/view.js"></script>
{{>ezenweb/footer}}
















