{{>ezenweb/header}}
    <div class="container">
        <h3> 게시물 상세페이지 </h3>
        <a href="/board">목록보기</a>
        카테고리 : <div class="bcno"></div>
        제목 : <div class="btitle"> </div>
        내용 : <div class="bcontent"> </div>
        작성자 :  <div class="mno"> </div>
        작성일 :  <div class="bdate"> </div>
        조회수 :  <div class="bview"> </div>
        첨부파일 :  <div class="bfile"> </div>
    </div>
    <div class="btnBox">

    </div>
    <script src="/js/board/view.js"></script>
{{>ezenweb/footer}}