{{>ezenweb/header}}
    <div class="container">
        <h3> 글쓰기 페이지 </h3>
        <form class="boardWriteForm">
            카테고리 <select name="bcno">
                        <option value="1"> 자유 </option>
                        <option value="2"> 노하우 </option>
                    </select> <br/>
            제목      <input name="btitle" type="text"/> <br/>
            내용      <textarea id="summernote" name="bcontent"> </textarea> <br/>
            첨부파일    <input name="uploadfile" type="file"> <br/>
            <button onclick="onWrite()" type="button">쓰기</button>
        </form>
    </div>
    <script src="/js/board/write.js"></script>

{{>ezenweb/footer}}