{{>layouts/header}}
    <form action="/articles/create" method="post">
        제목:<input name="title" />   <br/>
        내용:<textarea name="content"></textarea> <br/>
        <button type="submit">Submit</button>
        <a href="/articles">뒤로가기(Back)</a>
    </form>
{{>layouts/footer}}