{{>layouts/header}}

    <form  action="/articles/create" method="post">
        <input type="text"  name="title">               <br/>
        <textarea rows="3" name="content"></textarea>   <br/>
        <button type="submit" >Submit</button>
    </form>

{{>layouts/footer}}